#*#
*.DS_Store
*.hg
*.svn
*.class
*~
.*~
*.swp
backup/*
\#*\#
elisp
elisp/*.*
elpa
elpa/*.*
backup/*
colors/*
bundle/*
autoload/*
.emacs.d/url/*
ac-dict/*
.emacs.d/share/*
.emacs.d/undohist/*
.emacs.d/bin/*
